aiobotocore==1.3.3
aiohttp==3.7.4.post0
aioitertools==0.8.0
allure-pytest==2.9.43
allure-python-commons==2.9.43
Appium-Python-Client==1.2.0
async-timeout==3.0.1
attrs==21.2.0
botocore==1.20.106
Cerberus==1.3.4
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
confp==0.4.1
et-xmlfile==1.1.0
execnet==1.9.0
fsspec==2021.7.0
idna==3.2
iniconfig==1.1.1
jdcal==1.4.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
multidict==5.1.0
openpy==0.0.2
openpyexcel==2.5.14
openpyxl==3.0.7
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-forked==1.3.0
pytest-xdist==2.3.0
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.26.0
s3fs==2021.7.0
selenium==3.141.0
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
wrapt==1.12.1
yarl==1.6.3
